.header  {
position: absolute;
width: 1020px;
height: 89px;
left: 0px;
top: 0px;
background: #2D303A;
}
.logo{
    position: absolute;
    margin-left:40px;
    margin-bottom:35px;
    margin-top:29px;
}
.navigation{
   position: absolute;
   left: 605px;
   top: 42px;
   family-name:
}
 .headr__navigation{
  position: absolute;
width: 375px;
height: 14px;
left: 605px;
top: 42px;

font-family: Lato;
font-style: normal;
font-weight: bold;
font-size: 12px;
line-height: 14px;
text-align: right;
letter-spacing: -0.035em;
color: #ffffff;
 }

.navigation-1
{display: inline-block; /*располагаем блоки в ряд по горизонтали*/
    margin-right:auto; /*убираем правый отступ между блоками*/
   
}

.telefon{
position: absolute;
width: 1020px;
height: 594px;
left: 0px;
top: 95px;
background: #F06C64;
}
.logo1{
  position: absolute;
  height: 458px;
width: 216px;
left:111.5px;
top: 54px;
border-radius: 0px;

}
.screen1{
  position: absolute;
left: 12.35%;
right: 69.22%;
top:119px;
bottom: 73.51%;
}
.logo2{
  position: absolute;
  height: 458px;
width: 216px;
left:425px;
top: 176px;
border-radius: 0px;
}
.screen2{
  position: absolute;
left: 47.55%;
right: 19.8%;
top: 191px;
bottom: 77.05%;

}
.vector1{
  position: absolute;
left: 202.5px;
right: 41.43%;
top: 89.98px;
bottom: 91.05%;

background: #ACACAC;
}
.vector11{
  position: absolute;
left: 218px;
right: 49.09%;
top: 73px;
bottom: 95%;

background: #EB5055;
}

.vector111{
position: absolute;
height: 16.4px;
width: 16.4px;
left: 212.7px;
top: 474.4px;
border-radius: 0px;
}
.vector1111{
  position: absolute;
left: 199.31%;
right: 40.31%;
top: 461.03%;
bottom: 1.83%;
background: #FAFAFA;
}
.vector2{
  position: absolute;
left: 860.25px;

top: 276px;
bottom: 306.99%;
}
.vector22{
  position: absolute;
  left: 842.018310546875px;
  top: 267.498046875px;
}
.vector222
{
 position: absolute;
left: 446px;
top: 276.7880859375px;
}
.arrow-left{
  position: absolute;
left: 40px;

top: 283px;
}
.arrow-right{

 position: absolute;
left: 964px;

top: 283px;

}
.promo{
position: absolute;
width: 1020px;
height: 494px;
left: 0px;
top: 695px;
background: #F2F2F2;
}
.OurServices{
position: absolute;
left: 40px;
top: 59px;
color: #666D89;
}
.Fusce{
position: absolute;
left: 40px;
top: 113px;
color: #666D89;
}
.text{
  
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  height: 100%;
color: #666D89;
    
}
.portfolio {
position: absolute;
width: 1020px;
height: 864px;
left: 0px;
top: 1195px;
background: #2D303A;}

.portfolio1{
  position: absolute;
width: 130px;
height: 40px;
left: 40px;
top: 59px;
font-family:name;
font-style: normal;
font-weight: 900;
font-size: 30px;
line-height: 36px;
color: #666D89;

}

.strategies__description{
  position: absolute;
left: 40px;
top: 112.87px;

/* section-description */

font-family: Lato;
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 30px;
/* or 167% */
color: #767E9E;
}
.tag1{
  position: absolute;
  left: 41px;
  top: 160px;
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 30px;
  color: #767E9E;
}

.tag2{
  position: absolute;
  left: 79px;
  top: 160px;
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 30px;
  color: #767E9E;
}
.tag3{
  position: absolute;
  left: 168px;
  top: 160px;
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 30px;
  color: #767E9E;
}
.tag4{
  position: absolute;
  left: 273px;
  top: 160px;
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 30px;
  color: #767E9E;
}
.footer{
position: absolute;
width: 1020px;
height: 76px;
left: 0px;
top:2000px;
background: #2D303A;;}

.end{
  position: absolute;
width: 118px;
height: 17px;
left: 40px;

font-family: Lato;
font-style: normal;
font-weight: 900;
font-size: 13px;
line-height: 18px;

display: flex;
align-items: center;

color: #666D89;
}
.ico_ico_letter1{
position: absolute;
height: 14.000001907348633px;
width: 8px;
left: 838px;
top: 31px;
border-radius: 0px;
}
.ico_ico_letter2{
  position: absolute;
  height: 14.000001907348633px;
  width: 14px;
  left: 875px;
  top: 31px;
  border-radius: 0px;
}
.ico_ico_letter3{
  position: absolute;
  height: 14.000001907348633px;
  width: 12px;
  left: 915px;
  top: 31px;
  border-radius: 0px;
}
.ico_ico_letter4{
  position: absolute;
  height: 14.000001907348633px;
  width: 14px;
  left: 955px;
  top: 31px;
  border-radius: 0px;
}
.ico1{
  position: absolute;
  height: 31.99974925326046px;
width: 31.999746958033484px;
left: 826px;
top: 22px;
border-radius: 0px;
}
.ico2{
  position: absolute;
  height: 31.99974925326046px;
width: 31.999746958033484px;
left: 866px;
top:22px;
border-radius: 0px;
}
.ico3{
  position: absolute;
  height: 31.99974925326046px;
width: 31.999746958033484px;
left: 906px;
top:22px;
border-radius: 0px;
}
.ico4{
  position: absolute;
  height: 31.99974925326046px;
width: 31.999746958033484px;
left: 946px;
top:22px;
border-radius: 0px;
}